@{
    ViewBag.Title = "ご連絡先";
    ViewBag.Message = "（されても困る）";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Twitter:</strong>   <a href="https://twitter.com/lac0923" target="_blank">LaC0923</a>
</address>